.U{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    // border:rgb(248, 35, 35) double 4px;  
    
}


.d{
    font-size: 25px;
    text-align: center;
}

.btn#v1{
    padding: 10px 15px;
    text-transform:none;
    background-color: rgb(114, 162, 9);
    color: white;
    font-size: 24px;
    margin-left: 26rem;
    
}

.btn#v2{
    padding: 10px 15px;
    text-transform:none;
    background-color: rgb(114, 162, 9);
    color: white;
    font-size: 24px;
    margin-left: 22rem;
 
}


.a{
    background-color: rgb(249, 228, 180);
    margin-left: 65px;
}
